<%- include ('../../partials/header.ejs') %>

<%- include ('../../partials/navbar.ejs') %>

<div class="container">
    <br>
    <div class="card">
        <div class="card-header">
            <h2> Cadastro de Artigos:</h2>
        </div>
        <div class="card-body">
            <form method="post" action="/admin/articles/create">
                <input class="form-control" type="text" name="title" placeholder="Insira o titulo do novo artigo">
                <textarea class="form-control" placeholder="Escreva o artigo" name="articleBody" id="articleBody"></textarea>
                <br>
                <select name="categoryId" class="form-control" aria-label=".form-select-sm example">
            <% if (categories.length === 0) { %>
                <option selected value="0">Sem categorias cadastradas</option>
            <% }else{ %>
                <option selected>Selecione a categoria</option>
                <% categories.forEach(category => { %>
                    <option value="<%= category.id %>"><%= category.title %> </option>
                <% }) %>
            <% } %>
        </select>
                <hr>
                <button class=" btn btn-success"> Cadastrar Artigo</button>
            </form>
        </div>
    </div>
</div>
<%- include ('../../partials/footer.ejs') %>
<script>
    tinymce.init({
        language: 'pt_BR',
        selector: "#articleBody",
        plugins: [
            'lists advlist autolink link linkchecker image code print preview hr searchreplace wordcount fullscreen insertdatetime media save paste emoticons'
        ]
    })
</script>