<%- include ('../../partials/header.ejs') %>

<%- include ('../partials/navbar.ejs') %>

<div class="container">
    <hr>
    <h2>Categorias: </h2>
    <hr>
    <table class="table">
        <thead> <!-- Cabeçalho-->
            <tr> <!-- linhas -->
                <th>ID</th><!-- Colunas -->
                <th>Título</th>
                <th>Slug</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <% if (categories.length === 0) { %>
                <h4>Ainda sem Categorias Cadastradas cadastradas</h4>
            <% }else{ %>
            <% categories.forEach(category => { %>

            <tr>
                <th><%= category.id %></th>
                <th><%= category.title %></th>
                <th><%= category.slug %></th>
                <th>
                    <a class="btn btn-warning" href="/admin/categories/edit/<%= category.id %>"> Editar </a>

                    <form method="POST" action="/admin/categories/delete" style="display: inline;" onsubmit="deleteConfirm(event,'<%= category.title %>',this)">
                        <input type="hidden" value="<%= category.id %>" name="id">
                        <button class="btn btn-danger"  > Excluir </button>
                    </form>
                </th>

            </tr>
            <% }) %>
            <% } %>
        </tbody>
    </table>
</div>
<%- include ('../../partials/footer.ejs') %>

<script>
    function deleteConfirm(event,categoryName,form){
        event.preventDefault(); // impede que o form seja submetido
        if(confirm("Deseja deletar a categoria: " + categoryName) == true ){
            form.submit();
            alert("Exclusão confirmada!")
        }else{
            alert("Exclusão cancelada")
        }
    }
</script>