<%- include ('./partials/header.ejs') %>

<%- include ('./partials/navbar.ejs') %>

<div class="container">
    <% if (articles.length === 0) { %>
        <h4>Ainda sem Artigos Cadastrados</h4>
    <% }else{ %>
            <body>
                <div class="container">
                    <div class="jumbotron">
                        <h1 class="display-4">Bem Vindo!</h1>
                        <p class="lead">Esta é a Home Page do meu primeiro projeto node.js utilzando Express, Bootstrap, EJS e banco de dados MySQL.</p>
                    </div>
                    <% articles.forEach(article => { %>
                        <div class="card">

                            <div class="card-header">
                                <h3> <%= article.title %> </h3>

                            </div>
                            <div class="card-body">
                                <p> <%- truncateText(article.body, 15) %></p>
                                <a class="btn btn-success" href="/artigos/<%=article.slug%>"> Ler Restante do Artigo </a>
                            </div>
                            <br>
                        </div>

                    <% }) %>

                </div>
            </body>
    <% } %>
</div>

<%- include ('./partials/footer.ejs') %>

