<%- include ('partials/header.ejs'); %>
<body>
    <%- include ('partials/navbar.ejs'); %>

    <div class="container" >
        <br>
        <div class="card-header">
            <h1> <%= question.title %> </h1>
            <p>  <%= question.question %> </p>
        </div>
    </div>
</body>
<%- include ('partials/footer.ejs'); %>
     